In [127]:
import pandas as pd
import numpy as np

In [128]:
df = pd.read_excel(r"C:\Users\Roman\OneDrive\Documentos\repositorio ROM\repositorio-henry-2\Dataset\bd_integrantes_Esp.xlsx")

In [129]:
df.head()

,Nombre de los miembros,ID,Salario-Cargo,Fecha Nacimiento,Edad,Sexo,Fecha de contratación,Fecha salida,Status do Integrante,Departamento,Reclutamiento de fuentes,Registro de desempeño,Índice de satisfacción
0,Isis,A1304055947,5060-Técnico de Producción I,1982-05-21,38,F,2015-09-01,NaN,Ativo,dpt1,Página Web compañía,Arriba,5.0
1,Emanuel,A1109029366,3520-Técnico de Producción I,1975-12-21,45,M,2015-02-03,NaN,Ativo,dpt1,Recomendación empleados,Dentro de lo esperado,3.0
2,Vinícius,A1501072124,4400-Técnico de Producción I,1972-04-17,49,M,2017-07-06,NaN,Ativo,dpt1,Sitio web de empleo,Abajo de lo esperado,2.0
3,João Guilherme,A1302053339,3960-Técnico de Producción I,1994-10-17,26,M,2018-11-04,NaN,Ativo,dpt1,Sitio web de empleo,Abajo de lo esperado,4.0
4,Luna,A1204032927,3520-Técnico de Producción I,1985-08-04,35,F,2017-09-28,NaN,Ativo,dpt1,Feria de contratación,Arriba,4.0

In [130]:
df['Status do Integrante'] = df['Status do Integrante'].replace({'Ativo' : 'Activo'})

In [131]:
df.head()

,Nombre de los miembros,ID,Salario-Cargo,Fecha Nacimiento,Edad,Sexo,Fecha de contratación,Fecha salida,Status do Integrante,Departamento,Reclutamiento de fuentes,Registro de desempeño,Índice de satisfacción
0,Isis,A1304055947,5060-Técnico de Producción I,1982-05-21,38,F,2015-09-01,NaN,Activo,dpt1,Página Web compañía,Arriba,5.0
1,Emanuel,A1109029366,3520-Técnico de Producción I,1975-12-21,45,M,2015-02-03,NaN,Activo,dpt1,Recomendación empleados,Dentro de lo esperado,3.0
2,Vinícius,A1501072124,4400-Técnico de Producción I,1972-04-17,49,M,2017-07-06,NaN,Activo,dpt1,Sitio web de empleo,Abajo de lo esperado,2.0
3,João Guilherme,A1302053339,3960-Técnico de Producción I,1994-10-17,26,M,2018-11-04,NaN,Activo,dpt1,Sitio web de empleo,Abajo de lo esperado,4.0
4,Luna,A1204032927,3520-Técnico de Producción I,1985-08-04,35,F,2017-09-28,NaN,Activo,dpt1,Feria de contratación,Arriba,4.0

In [132]:
df = df.drop(columns=['Status do Integrante', 'Fecha salida'], axis=1)

In [133]:
df['Registro de desempeño'] = df['Registro de desempeño'].replace({'Arriba' : 'Arriba de lo esperado'})

In [134]:
df.head()

,Nombre de los miembros,ID,Salario-Cargo,Fecha Nacimiento,Edad,Sexo,Fecha de contratación,Departamento,Reclutamiento de fuentes,Registro de desempeño,Índice de satisfacción
0,Isis,A1304055947,5060-Técnico de Producción I,1982-05-21,38,F,2015-09-01,dpt1,Página Web compañía,Arriba de lo esperado,5.0
1,Emanuel,A1109029366,3520-Técnico de Producción I,1975-12-21,45,M,2015-02-03,dpt1,Recomendación empleados,Dentro de lo esperado,3.0
2,Vinícius,A1501072124,4400-Técnico de Producción I,1972-04-17,49,M,2017-07-06,dpt1,Sitio web de empleo,Abajo de lo esperado,2.0
3,João Guilherme,A1302053339,3960-Técnico de Producción I,1994-10-17,26,M,2018-11-04,dpt1,Sitio web de empleo,Abajo de lo esperado,4.0
4,Luna,A1204032927,3520-Técnico de Producción I,1985-08-04,35,F,2017-09-28,dpt1,Feria de contratación,Arriba de lo esperado,4.0

In [135]:
df['Salario-Cargo'] = df['Salario-Cargo'].str.strip()

In [136]:
df[['Salario', 'Cargo']] = df['Salario-Cargo'].str.split('-', expand=True)

In [139]:
df = df.drop(columns=['Salario-Cargo'], axis=1)

In [140]:
df.head()

,Nombre de los miembros,ID,Fecha Nacimiento,Edad,Sexo,Fecha de contratación,Departamento,Reclutamiento de fuentes,Registro de desempeño,Índice de satisfacción,Salario,Cargo
0,Isis,A1304055947,1982-05-21,38,F,2015-09-01,dpt1,Página Web compañía,Arriba de lo esperado,5.0,5060,Técnico de Producción I
1,Emanuel,A1109029366,1975-12-21,45,M,2015-02-03,dpt1,Recomendación empleados,Dentro de lo esperado,3.0,3520,Técnico de Producción I
2,Vinícius,A1501072124,1972-04-17,49,M,2017-07-06,dpt1,Sitio web de empleo,Abajo de lo esperado,2.0,4400,Técnico de Producción I
3,João Guilherme,A1302053339,1994-10-17,26,M,2018-11-04,dpt1,Sitio web de empleo,Abajo de lo esperado,4.0,3960,Técnico de Producción I
4,Luna,A1204032927,1985-08-04,35,F,2017-09-28,dpt1,Feria de contratación,Arriba de lo esperado,4.0,3520,Técnico de Producción I