In [1]:
import pandas as pd
import numpy as np

In [2]:
ruta_archivo = (r"C:\Users\Roman\OneDrive\Documentos\repositorio ROM\repositorio-henry-2\Dataset\bd_integrantes_Esp.xlsx")
xls = pd.ExcelFile(ruta_archivo, engine='openpyxl')
hojas = xls.sheet_names
print(hojas)

['integrantes', 'departamentos']

cargar todas las hojas a la vez utilizando diccionarios

In [3]:
datos_hojas = pd.read_excel(xls, sheet_name=None)

In [ ]:
# Aplicar ETL a cada hoja
datos_transformados = {}

for nombre_hoja, df in datos_hojas.items():
    print(f"Procesando hoja: {nombre_hoja}")
    
    # Ejemplo de transformación
    df = df.dropna(how='all')  # eliminar filas completamente vacías
    df = df.fillna(0)          # reemplazar NaN por 0
    df.columns = [col.strip().lower().replace(" ", "_") for col in df.columns]  # limpiar nombres columnas

    # Agregamos el DataFrame transformado al diccionario
    datos_transformados[nombre_hoja] = df

Procesando hoja: integrantes
Procesando hoja: departamentos

In [20]:
datos_transformados['integrantes'].head()

,nombre_de_los_miembros,id,salario-cargo,fecha_nacimiento,edad,sexo,fecha_de_contratación,fecha_salida,status_do_integrante,departamento,reclutamiento_de_fuentes,registro_de_desempeño,índice_de_satisfacción
0,Isis,A1304055947,5060-Técnico de Producción I,1982-05-21,38,F,2015-09-01,0.0,Ativo,dpt1,Página Web compañía,Arriba,5.0
1,Emanuel,A1109029366,3520-Técnico de Producción I,1975-12-21,45,M,2015-02-03,0.0,Ativo,dpt1,Recomendación empleados,Dentro de lo esperado,3.0
2,Vinícius,A1501072124,4400-Técnico de Producción I,1972-04-17,49,M,2017-07-06,0.0,Ativo,dpt1,Sitio web de empleo,Abajo de lo esperado,2.0
3,João Guilherme,A1302053339,3960-Técnico de Producción I,1994-10-17,26,M,2018-11-04,0.0,Ativo,dpt1,Sitio web de empleo,Abajo de lo esperado,4.0
4,Luna,A1204032927,3520-Técnico de Producción I,1985-08-04,35,F,2017-09-28,0.0,Ativo,dpt1,Feria de contratación,Arriba,4.0

In [14]:
datos_transformados['departamentos'].head()

  cod_departamento    departamento       gerente
0             dpt1      Producción     Robson R.
1             dpt2          Ventas      Julia S.
2             dpt3  Administrativo        Ana C.
3             dpt4              TI  Vinicius R.

In [25]:
datos_transformados['integrantes']['status_do_integrante'] = datos_transformados['integrantes']['status_do_integrante'].replace({'Ativo' : 'Activo'}) 
datos_transformados['integrantes'].head()

,nombre_de_los_miembros,id,salario-cargo,fecha_nacimiento,edad,sexo,fecha_de_contratación,fecha_salida,status_do_integrante,departamento,reclutamiento_de_fuentes,registro_de_desempeño,índice_de_satisfacción
0,Isis,A1304055947,5060-Técnico de Producción I,1982-05-21,38,F,2015-09-01,0.0,Activo,dpt1,Página Web compañía,Arriba,5.0
1,Emanuel,A1109029366,3520-Técnico de Producción I,1975-12-21,45,M,2015-02-03,0.0,Activo,dpt1,Recomendación empleados,Dentro de lo esperado,3.0
2,Vinícius,A1501072124,4400-Técnico de Producción I,1972-04-17,49,M,2017-07-06,0.0,Activo,dpt1,Sitio web de empleo,Abajo de lo esperado,2.0
3,João Guilherme,A1302053339,3960-Técnico de Producción I,1994-10-17,26,M,2018-11-04,0.0,Activo,dpt1,Sitio web de empleo,Abajo de lo esperado,4.0
4,Luna,A1204032927,3520-Técnico de Producción I,1985-08-04,35,F,2017-09-28,0.0,Activo,dpt1,Feria de contratación,Arriba,4.0

In [28]:
datos_transformados['integrantes'] = datos_transformados['integrantes'].drop(columns=['status_do_integrante', 'fecha_salida'], axis=1)

In [29]:
datos_transformados['integrantes']['registro_de_desempeño'] = datos_transformados['integrantes']['registro_de_desempeño'].replace({'Arriba' : 'Arriba de lo esperado'})

In [35]:
datos_transformados['integrantes'][['Salario', 'Cargo']] = datos_transformados['integrantes']['salario-cargo'].str.split('-', expand=True)

In [38]:
datos_transformados['integrantes'] = datos_transformados['integrantes'].drop(columns=['salario-cargo'], axis=1)

In [49]:
datos_transformados['integrantes'].head()

,nombre de los miembros,id,fecha de nacimiento,edad,sexo,fecha de contratación,departamento,fuentes de reclutamiento,registro de desempeño,índice de satisfacción,salario,cargo
0,Isis,A1304055947,1982-05-21,38,F,2015-09-01,dpt1,Página Web compañía,Arriba de lo esperado,5.0,5060,Técnico de Producción I
1,Emanuel,A1109029366,1975-12-21,45,M,2015-02-03,dpt1,Recomendación empleados,Dentro de lo esperado,3.0,3520,Técnico de Producción I
2,Vinícius,A1501072124,1972-04-17,49,M,2017-07-06,dpt1,Sitio web de empleo,Abajo de lo esperado,2.0,4400,Técnico de Producción I
3,João Guilherme,A1302053339,1994-10-17,26,M,2018-11-04,dpt1,Sitio web de empleo,Abajo de lo esperado,4.0,3960,Técnico de Producción I
4,Luna,A1204032927,1985-08-04,35,F,2017-09-28,dpt1,Feria de contratación,Arriba de lo esperado,4.0,3520,Técnico de Producción I

In [45]:
datos_transformados['departamentos'].head()

  cod departamento    departamento       gerente
0             dpt1      Producción     Robson R.
1             dpt2          Ventas      Julia S.
2             dpt3  Administrativo        Ana C.
3             dpt4              TI  Vinicius R.

In [43]:
for nombre_hoja, df in datos_transformados.items():
    df.columns = [col.strip().lower().replace("_", " ").replace("ã", "a") for col in df.columns]

Renombramos los nombres de las columnas

In [48]:
datos_transformados['integrantes'] = datos_transformados['integrantes'].rename(columns={
    'fecha nacimiento': 'fecha de nacimiento',
    'reclutamiento de fuentes' : 'fuentes de reclutamiento'
})

In [51]:
# Exportar cada hoja transformada a un nuevo Excel
with pd.ExcelWriter('output_ETL.xlsx', engine='openpyxl') as writer:
    for nombre_hoja, df in datos_transformados.items():
        df.to_excel(writer, sheet_name=nombre_hoja, index=False)